<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apollon</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>
  <body>
    <header class="navbar">
      <a class="navbar-brand logo float-left">
        <img class="logo-img" src="images/logo.png" />
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span class="navbar-title">Apollon</span>&nbsp;&nbsp;&nbsp;<span class="navbar-version">
          <%=htmlWebpackPlugin.options.version%>
        </span>
      </a>
    </header>
    <div class='taskbar'>
        <h3 class="header">Choose your task</h3>
        <div class="dropdown">
          <select name="task" id="taskDropDown">
            <option selected disabled>Choose..</option>
            <option value="PLANARITY" >Planarity</option>
            <option value="CONNECTIVITY">Connectivity</option>
            <option value="CUT_VERTEX">Cut Vertex</option>
          </select>
          <div id="taskDescription">
          </div>
        </div>
    </div>
    <div class="container">
      <main id="apollon"></main>
      <aside class="sidebar">

        <section>

        </section>
        <section id='submitAssessmentSection' style='display:none'>
          <div class="switch">
            <button onclick="apollon.draw()">Export (JSON)</button>
          </div>
          <h3 class="header">Assessment</h3>
          <div class="switch">
            <button onclick="apollon.submitSolution()">Submit Solution</button>
          </div>
          <h3 class="header">Help</h3>
          <div class="switch">
            <button class="hint" onclick="apollon.submitSolution()">Request Hint</button>
            <button class='solution' onclick="apollon.submitSolution()">Request Solution</button>
          </div>
        </section>
        <section id='assessmentHelp'>

        </section>
        <section id="assessmentFeedbackSection" style='display:none'>
          <h3 class="header">Feedback</h3>
          <div id="assessmentFeedbackText">
          </div>
          <div>
            <div class='blobs-container' id='waitingForAssessmentResults'>
              <div class='blob'></div>
            </div>
            <div id='assessmentResults'>

            </div>
          </div>

        </section>
      </aside>
    </div>
  </body>

  <script>



  </script>
</html>
