<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apollon</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>
  <body>
    <header class="navbar">
      <a class="navbar-brand logo float-left">
        <img class="logo-img" src="images/logo.png"  alt=''/>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span class="navbar-title">Apollon</span>&nbsp;&nbsp;&nbsp;<span class="navbar-version">
          <%=htmlWebpackPlugin.options.version%>
        </span>
      </a>
    </header>
    <div class='taskbar'>
        <h3 class="header">Choose a class of tasks</h3>
        <div class="dropdown">
          <label for="taskDropDown"></label>
          <select name="task" id="taskDropDown">
            <option selected disabled>Choose..</option>
            <option value="PLANARITY" >Planar Graphs</option>
            <option value="EULERIAN">Eulerian Graphs</option>
            <option value="BIPARTITE">Bipartite Graphs</option>
          </select>
          <div id="taskDescription">
          </div>
        </div>
    </div>
    <div class="container">
      <main id="apollon"></main>
      <aside class="sidebar">

        <section id='introSection'>
          Please select a class of tasks in the header.
        </section>
        <section id='submitAssessmentSection' style='display:none'>
          <div class='switch'>
            <form>
              <p id='assessmentQuestion'>Question?</p>
                <input type="radio" id="assesmentOption0" name="assessmentQuestionAnswer" value="yes">
                <label for="assesmentOption0"> yes</label><br/>
                <input type="radio" id="assesmentOption1" name="assessmentQuestionAnswer" value="no">
                <label for="assesmentOption1"> no</label>
            </form>
          </div>
          <div class="switch">
            <button id='submitSolutionButton' class='submit' onclick="apollon.submitSolution()">Submit Solution</button>
          </div>
          <h3 class="header">Help</h3>
          <div class="switch">
            <button class="hint" onclick="apollon.requestHint()">Request Hint</button>
            <button class='solution' onclick="apollon.requestSolution()">Request Solution</button>
          </div>
          <h3 class="header">Task</h3>
          <div class="switch">
            <button onclick="apollon.requestNextGraph()">Next Graph</button>
          </div>
          <h3 class="header">Auxiliary</h3>
          <div class="switch">
            <button onclick="apollon.draw()">Export (JSON)</button>
          </div>
        </section>
        <section id='assessmentHelp'>

        </section>
        <section id="assessmentFeedbackSection" style='display:none'>
          <h3 class="header">Feedback</h3>
          <div id="assessmentFeedbackText">
          </div>
          <div>
            <div class='blobs-container' id='waitingForAssessmentResults'>
              <div class='blob'></div>
            </div>
            <div id='assessmentResults'>

            </div>
          </div>

        </section>
      </aside>
    </div>
  </body>

  <script>



  </script>
</html>
